@charset "UTF-8";

/*#222E50 #007991 #439A86 #BCD8C1 #E9D985*/

:root {
    font-family: "Hepta Slab", serif;
    --clr-space-cadet: #222E50;
    --clr-cerulean: #007991;
    --clr-zomp: #439A86;
    --clr-celadon: #BCD8C1;
    --clr-flax: #E9D985;
}

/*https://fonts.google.com/specimen/Hepta+Slab*/
.hepta-slab {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.black-border {
    border-style: solid;
    border-width: 3px;
    border-color: var(--clr-space-cadet);
    border-radius: 5px;
}

.width-sm {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-med {
    width: 50%
}

.float-right {
    float: right;
}

.clear-fix {
    overflow: auto;
}

.top-nav {
    background-color: var(--clr-space-cadet);
    overflow: hidden;
}

.top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: var(--clr-flax);
    color: black;
}

.top-nav a.active {
    background-color: var(--clr-cerulean);
    color: white;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uc {
    width: 50%;
    height: 50%;
}

.padding {
    padding: 10px;
}