@charset "UTF-8";

/*https://fonts.google.com/specimen/Hepta+Slab*/
.hepta-slab {
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: "Hepta Slab", serif
}

p {
    font-family: "Hepta Slab", serif
}

.blackBorder {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
}

.widthSm {
    width: 20%;
}

.widthMed {
    width: 50%
}

.floatRight {
    float: right;
}

.clearfix {
    overflow: auto;
}

.topNav {
    background-color: slategray;
    overflow: hidden;
}

.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Hepta Slab", serif
}

.topNav a:hover {
    background-color: lightgray;
    color: black;
}

.topNav a.active {
    background-color: dodgerblue;
    color: white;
}

.centerImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uc {
    width: 50%;
    height: 50%;
}